*{
margin: 0;
padding: 0;

text-decoration: none;
color:var(--verde)

}


:root{
    --verde: #3E5902;
    --verdeinv:#3d59024f;
    --verdeclaro: #BFB304;
    --mostarda: #f29f05b9;
    --vermelho: #F20505;
    --vinho: #A60303;
}

.conteiner{
font-weight: bold;
padding: 210px 5px 5px 5px;
max-width: 350px;
background-color:var(--mostarda);
display: block;
margin: auto;
border: solid grey 1px;
border-radius: 10px;
.pedidos{
    text-align: center;
}
box-shadow: 0 0 5px rgba(0, 0, 0, 0.359);
background-image: url('/img/pizza17-500.jpg');
background-position:top;
background-repeat:no-repeat;
background-size:360px 200px;

}


.pedido{

    display: block;
    margin: auto;
    width: 280px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.115);
    margin: 10px;
    cursor: pointer;
    background-color:white;
    text-decoration: none;
    font-weight: bold;
}

.pedido:hover{
    box-shadow: 0 0 0 1px var(--verdeinv),
    0 0 0 2px var(--verdeinv),0 0 0 5px var(--verdeinv);
}
.pedidobox{
    display: block;
    margin: auto;
    width: 280px;
    border-radius: 5px;
    border: solid 1px;
    margin: 10px;
}
body{
    margin-top: 20px;
}

.imagem{
    width: 100px;
    height: 80px;
   
}

.pizz{
    text-align:left;
    background-color:white;
    border: solid 0.2px (--verde);
    width: 100%;
    border-radius: 5px;
}
.pizz:hover{
    background-color:rgb(231, 225, 225) ;
    cursor: pointer;
}